@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,*::before, *::after{
    box-sizing: border-box;
    outline: none;
    /* //--webkit-font-smoothing:auto !important; */
}
:root{
    --white: #ffffff;
    --primary-cta: #4E47FF;
    --blue-shade:#5B54FF;
    --secondary-blue:  #252432;
    --neutral-grey: #8987A1;
    --light-blue:#F5F8FF;
    --yellow:#F7C33D;
    --border-grey:#D6DDED;
    --fs14:0.875rem;
    --fs16:1rem; 
    --fs18:1.125rem;
    --fs19:1.236rem;
    --fs20:1.25rem;
    --fs30:1.875rem;
    --fs34:2.125rem;
    --fs60:3.75rem;
    --fs73:4.584rem;
    --font-weight400: 400;
    --font-weight500: 500;
    --font-weight600: 600;
    --font-weight700: 700;
    --line-height19:19px;
    --line-height21:21px;
    --line-height25:25px;
    --line-height24:24px;
    --line-height30:30px;
    --line-height36:36px;
    --line-height40:40px;
    --line-height73:73px;
    --line-height72:72px;
    --spacing10: 10px;
    --spacing12: 12px;
    --spacing16: 16px;
    --spacing20: 20px;
    --spacing24: 24px;
    --spacing26: 26px;
    --spacing28: 28px;
    --spacing30: 30px;
    --spacing34: 34px;
    --spacing14: 14px;
    --spacing32:32px;
    --spacing36: 36px;
    --spacing38: 38px;
    --spacing40: 40px;
    --spacing42: 42px;
    --spacing44: 44px;
    --spacing50: 50px;
    --spacing56: 56px;
    --spacing86: 86px;
    --spacing62: 62px;
    --spacing72: 72px;
    --spacing82: 82px;
    --spacing84: 84px;
    --spacing124: 124px;
    --spacing156: 156px;
    --border-radius10: 10px;
    --border-radius20: 20px;
}
body
{
    height: 100%;
    font-family: "Inter";
    font-size: 16px;
    background-color: var(--light-blue);
}

body,h1,h2,h3,h4,p,ul,li,a{
    margin: 0;
    padding: 0;
    color: var(--neutral-grey);
    margin-block-start: 0;
    margin-block-end: 0;
   
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
.cx-h1
{
    color: var(--secondary-blue);
    font-family: "Raleway";
    font-size: var(--fs73);
    font-weight: var(--font-weight700);
    line-height: var(--line-height73) ;
}
.cx-h2
{
    color: var(--secondary-blue);
    font-family: "Raleway";
    font-size: var(--fs60);
    font-weight: var(--font-weight700);
    line-height: var(--line-height72) ;
}
.cx-h3
{
    color: var(--secondary-blue);
    font-family: "Raleway";
    font-size: var(--fs30);
    font-weight: var(--font-weight700);
    line-height: var(--line-height36) ;
}
.cx-h4
{
    color: var(--secondary-blue);
    font-family: "Raleway";
    font-size: var(--fs18);
    font-weight: var(--font-weight700);
    line-height: var(--line-height21) ;
}
.cx-medium-h3
{
    color: var(--secondary-blue);
    font-family: "Raleway";
    font-size: var(--fs34);
    font-weight: var(--font-weight700);
    line-height: var(--line-height40) ;
}
.cx-text18
{
    color: var(--secondary-blue);
    font-family: "Inter";
    font-size: var(--fs18);
    font-weight: var(--font-weight700);
    line-height: var(--line-height21) ;
}
.cx-text14
{
    color: var(--neutral-grey);
    font-family: "Inter";
    font-size: var(--fs14);
    font-weight: var(--font-weight400);
    line-height: var(--line-height21) ;
}
.cx-text14-25
{
    color: var(--secondary-blue);
    font-family: "Inter";
    font-size: var(--fs14);
    font-weight: var(--font-weight400);
    line-height: var(--line-height25) ;
}
.cx-text16
{
    color: var(--neutral-grey);
    font-family: "Inter";
    font-size: var(--fs16);
    font-weight: var(--font-weight400);
    line-height: var(--line-height24) ;
}

.cx-text19
{
    color: var(--neutral-grey);
    font-family: "Inter";
    font-size: var(--fs19);
    font-weight: var(--font-weight600);
    line-height: var(--line-height24) ;
}
.cx-text20
{
    color: var(--neutral-grey);
    font-family: "Inter";
    font-size: var(--fs20);
    font-weight: var(--font-weight400);
    line-height: var(--line-height30) ;
}
.cta-primary-text16
{
    color: var(--white);
    font-family: "Raleway";
    font-size: var(--fs16);
    font-weight: var(--font-weight700);
    line-height: var(--line-height24) ;
}

.cta-primary{
    background-color: var(--primary-cta);
    border-radius: var(--border-radius10);
    padding: var(--spacing12) var(--spacing36);
    border: none;
    margin-top: var(--spacing14);



}
.width-100
{
    width: 100%;
}
.card-container
{
    border-radius: var(--border-radius10);
    padding: var(--spacing24) var(--spacing30);
    background: var(--white);
}

.proof-of-work-wrapper
{
    background: url("/images/work-background.png");
    background-repeat: no-repeat;
    background-size: 40% 60%;
    background-position: top;
    padding-top: var(--spacing124);
}
.proof-of-work-wrapper .header-wrapper
{
    width: 70%;
    margin: auto;
}
.proof-of-work-wrapper .proof-of-work-title 
{
    width: 50%;
    margin: auto;
    text-align: center;
}
.proof-of-work-wrapper .proof-of-work-title h2 
{
   margin-bottom: var(--spacing24);
}
.proof-of-work-wrapper .carousel-wrapper {
    position: relative;
    width: 100%; 
    overflow: hidden;
    margin-top: var(--spacing56);
    margin-bottom: var(--spacing86);
    
}

.proof-of-work-wrapper .carousel-inner {
    display: flex;
    gap: 80px;
    transition: transform 0.5s ease; 
}

.proof-of-work-wrapper  .carousel-item {
    flex: 0 0 auto;
    max-width: 100%;
    padding: var(--spacing32);
    background: rgba(255, 255, 255, 0.4);
    border-radius: var(--border-radius10);
    border: 1px solid var(--white);
}
.proof-of-work-wrapper .arrow-button
{
    border: none;
    border-radius: 50%;
    background: var(--white) ;
    height: 78px;
    width: 78px;
    cursor: pointer;
}

.proof-of-work-wrapper .rating-icon
{
    color: var(--yellow);
    font-size: var(--fs30);
    line-height: 10px;
}
.proof-of-work-wrapper .users-wrapper :not(:first-child)
{
margin-left: -20px;
align-items: center;
}
.proof-of-work-wrapper .card-container
{
    padding: var(--spacing24);
    width: max-content;
    align-items: center;
    gap: var(--spacing12);
    margin: auto;
}
.proof-of-work-wrapper .review-text
{
    font-size: var(--fs16);
    line-height: var(--line-height19);
}
strong{
    color: var(--secondary-blue);
    font-weight: var(--font-weight600);
}
.pricing .meet-wrapper
{
    border-radius: var(--border-radius20);
    padding: var(--spacing36) var(--spacing26) var(--spacing28) var(--spacing26);
    margin-top: var(--spacing82);
}
.pricing
{
    width: 70%;
    margin: auto;
    padding-top: var(--spacing124);

}
.pricing .connects-wrapper
{
    width: 30%;
}
.pricing .meet-wrapper h3
{
    width: 90%;
    margin-bottom: var(--spacing32);
}
.pricing .pricing-services
{
    width: 60%;
}
.pricing .pricing-services.card-container
{
    padding: var(--spacing44) var(--spacing50);
    border-radius: var(--border-radius20);
}
.pricing .pricing-services.card-container .services-text
{
  margin-top: var(--spacing32);
  margin-bottom: var(--spacing40);
}
.pricing .services
{
display: flex;
flex-wrap: wrap;
gap: 8px;
}
.pricing .services .flex-div
{
width: 48%;
gap: var(--spacing10);
}
.pricing-amount
{
    font-family: "Inter";
}
.pricing-wrapper
{
    padding: var(--spacing28) var(--spacing42);
    background-color: var(--light-blue);
    border-radius: var(--border-radius20);
    margin-top: var(--spacing42);
}
.faq-wrapper 
{
    background: url("/images/queries.png");
    background-repeat: no-repeat;
    background-size: 40% 80%;
    background-position: left;
    padding-top: var(--spacing124);

}.faq-wrapper h2
{
   width: 70%;
 margin: auto;
}
.faq-wrapper .faq-button
{
   border: none;
   padding: 0;
   background: none;

}
.faq-wrapper .query-wrapper
{
    margin-bottom: var(--spacing16);
} 
footer
{
    padding: var(--spacing124);

}
.get-in-wrapper
{
    width: 50%;
    margin: auto;
}
.get-in-wrapper h2{
    text-align: center;
}
.form-wrapper
{
    margin-top: var(--spacing72);
    margin-bottom: var(--spacing156);
}
label.cx-text18
{
    margin-bottom: var(--spacing10);
    width: 100%;
    display: block;
}
input,textarea
{
    border: 1px solid var(--border-grey);
    border-radius: var(--border-radius10);
    padding: var(--spacing20) var(--spacing32);
    background-color: var(--light-blue);
    width: 100%;
}
textarea
{
    height: 191px;
}
.form-controls
{
    margin-bottom: var(--spacing16);
}
.footer-wrapper
{
    border: 1px solid var(--border-grey);
    background: linear-gradient(#FFFFFF,#F6F9FF);
    padding: var(--spacing84) var(--spacing72);
    border-radius: var(--border-radius10);
}
.flex-div
{
    display: flex;

}
.footer-wrapper .right-section-wrapper
{
    width: 32%;
}
.footer-wrapper .right-section-wrapper .cx-text16.info
{
    margin-top: var(--spacing38);
}
.footer-wrapper .social-wrapper 
{
    margin-top: var(--spacing62);
}

.footer-wrapper .left-section-wrapper
{
    width: 36%;
}
.align-center
{
    align-items: center;
}
.justify-space
{
    justify-content: space-between;
}
.social-icon-wrapper img{
    margin-right: var(--spacing32);
}
.social-wrapper .icon{
margin-right: var(--spacing12);
}
